@charset "UTF-8";
/* border box*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* ------- */
/* сбрасываю margins */
span,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* ------- */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* центрирование контента */
.container, .header, .footer__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

@media screen and (min-width: 480px) {
  .container, .header, .footer__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container, .header, .footer__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container, .header, .footer__container {
    width: 1200px;
  }
}

.section, .teamsection, .footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section, .teamsection, .footer {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* убираем маркеры в списках*/
.default-lists, .site-nav, .contacts, .slinkbox-mobile, .advantages, .application, .team, .nets, .clients, .button-list, .projects, .address, .link-box {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* ------- */
/* убираем подчеркивание в ссылках */
.default-links, .site-nav__link, .site-nav__link--active, .contacts__link--phone, .contacts__link--mail, .slinkbox-mobile__link, .link-active, .logo__link--footer, .address__mailtel {
  color: #212121;
  text-decoration: none;
}

/* ------- */
/* утилита для построения в ряд */
.items-in-row, .header, .slinkbox-mobile, .nets, .clients, .button-list, .link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* ------- */
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: white;
}

.section__title {
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo, .logo__start, .logo__end--dark, .logo__end--bright {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo, .logo__start, .logo__end--dark, .logo__end--bright {
    font-size: 26px;
    line-height: 31px;
  }
}

.logo__start {
  color: #2196f3;
}

.logo__end--dark {
  color: black;
}

.logo__end--bright {
  color: white;
}

.header__decor {
  border-bottom: 1px solid #ECECEC;
}

.header {
  position: relative;
}

@media screen and (min-width: 768px) {
  .header {
    position: static;
  }
}

.navigation-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation-section {
    width: 100%;
  }
}

.menu-container {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  padding: 48px 40px 48px 40px;
}

.menu-container.is-open {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
    height: 100%;
    margin-left: 88px;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    margin-left: 93px;
  }
}

.menu-button {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

.menu-button__icon--close {
  display: none;
}

.menu-button.is-open .menu-button__icon--close {
  display: block;
}

.menu-button.is-open .menu-button__icon--open {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.logo__link--header {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .logo__link--header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo__link--header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-nav__item:not(:last-child) {
    margin: 0 50px 0 0;
  }
}

.site-nav__link, .site-nav__link--active {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #212121;
  letter-spacing: 0.02em;
}

.site-nav__link--active {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav__link, .site-nav__link--active {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 16px;
  }
  .site-nav__link--active {
    position: relative;
  }
  .site-nav__link--active:after {
    content: "";
    position: absolute;
    bottom: calc(-1*1px);
    right: 0;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    border: none;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav__link, .site-nav__link--active {
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link:hover, .site-nav__link--active:hover, .site-nav__link:focus, .site-nav__link--active:focus {
    color: #2196f3;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: 302px;
  margin-bottom: 64px;
}

.contacts__item:not(:first-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 100%;
    margin: 0 0 0 84px;
  }
  .contacts__item:not(:first-child) {
    margin: 10px 0 0 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 305px;
  }
  .contacts__item:not(:first-child) {
    margin-top: 0;
    margin-left: 30px;
  }
}

.contacts__link--phone, .contacts__link--mail {
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link--phone {
  font-size: 34px;
  line-height: 40px;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .contacts__link--phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 14px;
    color: #757575;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link--phone {
    font-size: 14px;
    line-height: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts__link--phone:hover, .contacts__link--phone:focus {
    color: #2196f3;
  }
}

.contacts__link--mail {
  font-size: 24px;
  line-height: 28px;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .contacts__link--mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link--mail {
    font-size: 14px;
    line-height: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts__link--mail:hover, .contacts__link--mail:focus {
    color: #2196f3;
  }
}

.nav__icon--mail, .nav__icon--phone {
  fill: #757575;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__icon--mail {
  width: 14px;
  height: 10px;
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .nav__icon--mail {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .nav__icon--mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

.nav__icon--phone {
  width: 10px;
  height: 14px;
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .nav__icon--phone {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .nav__icon--phone {
    height: 16px;
    margin-right: 10px;
  }
  .nav__icon--phone:hover, .nav__icon--phone:focus {
    fill: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link--mail:hover .nav__icon--mail,
  .contacts__link--mail:focus .nav__icon--mail {
    fill: #2196f3;
  }
  .contacts__link--phone:hover .nav__icon--phone,
  .contacts__link--phone:focus .nav__icon--phone {
    fill: #2196f3;
  }
}

.slinkbox-mobile__item:not(:last-child) {
  position: relative;
  margin-right: 20px;
}

.slinkbox-mobile__item:not(:last-child):after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -10px;
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
  border: none;
}

.slinkbox-mobile__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .slinkbox-mobile {
    display: none;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  height: 400px;
  background-color: #ffff;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-team-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-team-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-team-mobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-team-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-team-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-team-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-team-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-team-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-team-desktop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-team-desktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-team-desktop@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-team-desktop@2x.jpg");
  }
}

.hero__title {
  margin: 0px auto 30px auto;
  width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  color: white;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 60px;
  }
}

.hero__button {
  padding: 10px 32px 10px 32px;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: white;
  background-color: #2196f3;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 450px;
  padding: 40px;
  background-color: #FFFFFF;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__button {
  position: absolute;
  z-index: 100;
  top: 8px;
  right: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: #FFFFFF;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover, .modal__button:focus {
  fill: #2196f3;
}

.button__icon {
  width: 11px;
  height: 11px;
}

.feedback__action {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .feedback__action {
    line-height: 23px;
  }
}

.form__field {
  position: relative;
  margin-bottom: 10px;
}

.form__field--comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.form__field--consent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.field__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18px;
  height: 18px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus-within .field__icon {
  fill: #2196f3;
}

.field__label {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.field__input, .field__input--comment {
  width: 100%;
  height: 40px;
  margin: 4px 0 0 0;
  outline: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.field__input {
  padding-left: 42px;
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
}

.field__input:focus {
  border: 1px solid #2196f3;
}

.field__input--comment {
  height: 120px;
  padding: 12px 16px 12px 16px;
  resize: none;
}

.field__input--comment::-webkit-input-placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field__input--comment:-ms-input-placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field__input--comment::-ms-input-placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field__input--comment::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field__input--comment:focus {
  border: 1px solid #2196f3;
}

.field__label--consent {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agreement__text {
  margin-left: 8px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .agreement__text {
    font-size: 14px;
    line-height: 24px;
  }
}

.agreement__policy {
  position: relative;
}

.agreement__link {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #2196f3;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
}

.agreement__link:before {
  content: "";
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .agreement__link {
    font-size: 14px;
    line-height: 24px;
  }
}

.field__input--consent {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.field__icon--checked {
  width: 16px;
  height: 15px;
  -webkit-transition-property: background-image;
  transition-property: background-image;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.field__input--consent:checked + .field__icon--checked {
  background-image: url(../images/icon-checked.svg);
  background-size: contain;
  fill: #2196f3;
}

.form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button:hover, .form__button:focus {
  background-color: #188CE8;
}

@media screen and (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: calc(-1 * 30px);
    margin-bottom: calc(-1 * 30px);
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
  }
}

.advantages__subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .advantages__subtitle {
    text-align: left;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}

.advantages__item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #F5F4FA;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    -ms-flex-preferred-size: calc(100%/2 - 30px);
        flex-basis: calc(100%/2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    -ms-flex-preferred-size: content;
        flex-basis: content;
    margin: 0;
  }
  .advantages__item p {
    width: 270px;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.advantages__icon--antenna::before {
  background-image: url("../images/antenna.svg");
}

.advantages__icon--clock::before {
  background-image: url("../images/clock.svg");
}

.advantages__icon--diagram::before {
  background-image: url("../images/diagram.svg");
}

.advantages__icon--astronaut::before {
  background-image: url("../images/astronaut.svg");
}

.services {
  display: none;
  padding-top: 0;
}

@media screen and (min-width: 1200px) {
  .services {
    display: inherit;
  }
}

.application {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.application__item {
  position: relative;
  -ms-flex-preferred-size: calc(100%/3);
      flex-basis: calc(100%/3);
  margin-left: 30px;
}

.application__item:first-child {
  margin-left: 0px;
}

.application__description {
  position: absolute;
  bottom: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.teamsection {
  background-color: #f5f4fa;
}

.team {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: calc(-1 * 30px);
    margin-bottom: calc(-1 * 30px);
  }
}

.team__item {
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc(100%/2 - 30px);
        flex-basis: calc(100%/2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.team__image {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .team__image {
    width: 354px;
  }
}

.card {
  padding-top: 30px;
  padding-bottom: 24px;
}

.card__name, .card__profession {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.card__name {
  font-weight: 500;
  color: #212121;
  margin-bottom: 10px;
}

.card__profession {
  margin-bottom: 16px;
}

.nets {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nets__item {
  margin-right: 10px;
}

.nets__item:last-child {
  margin-right: 0px;
}

.nets__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
}

.nets__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
  margin-right: calc(-1 * 30px);
  margin-bottom: calc(-1 * 30px);
}

.clients__item {
  -ms-flex-preferred-size: calc(100%/2 - 30px);
      flex-basis: calc(100%/2 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc(100%/3 - 30px);
        flex-basis: calc(100%/3 - 30px);
  }
}

.clients__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid currentColor;
  border-radius: 4px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

.clients__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.button-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}

.button-list__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .button-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter-button {
  padding: 6px 22px 6px 22px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  color: white;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Стилизация секции "Наши проекты" */
@media screen and (min-width: 768px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: calc(-1 * 30px);
  }
}

.projects__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .projects__item:not(:last-child) {
    -ms-flex-preferred-size: calc(100%/2 - 30px);
        flex-basis: calc(100%/2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.link-active {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-active:hover, .link-active:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project {
  position: relative;
  overflow: hidden;
}

.project__image {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .project__image {
    width: 354px;
  }
}

.project__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px 77px 24px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: white;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .project__slider {
    padding-top: 49px;
  }
}

.link-active:hover .project__slider,
.link-active:focus .project__slider {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.projects__card-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.project__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .project__title--crutch {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .project__title--crutch {
    display: none;
  }
}

.project__brief, .project__brief--crutch {
  margin-top: 4px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project__brief--crutch {
    color: white;
  }
}

.footer {
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.logo__link--footer {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.address__item {
  margin-bottom: 8px;
  text-align: center;
}

.address__item:last-child {
  margin-bottom: 0;
}

.address__postal {
  font-style: normal;
  color: white;
}

.address__mailtel {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.social-links {
  display: block;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .social-links {
    margin: 5px 0 0 0;
  }
}

.social-links__action {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.link-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-box__item {
  margin-right: 10px;
  margin-bottom: 0px;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.link-box__item:last-child {
  margin-right: 0px;
}

.icon-insta {
  background-image: url("../images/instagram-footer.svg");
}

.icon-twit {
  background-image: url("../images/twitter-footer.svg");
}

.icon-fb {
  background-image: url("../images/facebook-footer.svg");
}

.icon-lin {
  background-image: url("../images/linkedin-footer.svg");
}

.signup {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .signup {
    margin-top: 60px;
  }
}

.signup__action {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}

.signup__input {
  display: block;
  margin-bottom: 20px;
  padding: 15px 16px 15px 16px;
  width: 450px;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}

.signup__input:focus {
  outline: 0;
}

.signup__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  padding: 10px 0px 10px 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: white;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.signup__button::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url("../images/icon-send.svg");
  background-size: contain;
}
/*# sourceMappingURL=main.css.map */