.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo__start {
    @extend .logo;
    color: $Logo-Start-Color;
}

.logo__end--dark {
    @extend .logo;
    color: $Logo-End-Color;
}

.logo__end--bright {
    @extend .logo;
    color: $Contrast-Text-Color;
}