.header__decor {
    border-bottom: $Header-Bottom-Border solid #ECECEC;
}

.header {
    position: relative;
    @extend .container;
    @extend .items-in-row;

        @media screen and (min-width: $tablet) {
            position: static;
        }
}

.navigation-section {
    display: flex;
    align-items: center;

    @media screen and (min-width: $tablet) {
                    width: 100%;
                }
}

.menu-container {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #FFFFFF;
    padding: 48px 40px 48px 40px;
    
    &.is-open {
        display: block;
    }

           @media screen and (min-width: $tablet) {
            display: flex;
            align-items: center;
            position: static;
            
            height: 100%;
            margin-left: 88px;
            padding: 0;
        }

            @media screen and (min-width: $desktop) {
                margin-left: 93px;
            }
}



.menu-button {
    
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 15px;

    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

        &:hover, &:focus {
            fill: $Active-Link-Color;
        }

    &__icon--close {
        display: none;
    }

    &.is-open {
        position: fixed;
    }

    &.is-open &__icon--close {
        display: block;
        
    }

    &.is-open &__icon--open {
        display: none;
    }

        @media screen and (min-width: $tablet) {
            display: none;
        }
}

.logo__link--header {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;

    @media screen and (min-width: $tablet) {
        padding-top: 26px;
        padding-bottom: 26px;
    }

        @media screen and (min-width: $desktop) {
            padding-top: 24px;
            padding-bottom: 25px;
        }
}

.site-nav {
    @extend .default-lists;
    &__item:not(:last-child) {
        margin-bottom: 32px;
    }

        @media screen and (min-width: $tablet) {
            display: flex;
                &__item:not(:last-child) {
                   margin: 0 50px 0 0;
                }
        }
}

.site-nav__link {
    @extend .default-links;
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: $Default-Text-Color;
    letter-spacing: 0.02em;

    &--active {
            @extend .default-links;
            @extend .site-nav__link;
            color: $Active-Link-Color;
        }
    
        @media screen and (min-width: $tablet) {
            padding-top: 32px;
            padding-bottom: 32px;
            font-size: 14px;
            line-height: 16px;

            &--active {
                position: relative;

                &:after {
                        content: "";
                
                        position: absolute;
                        bottom: calc(-1*#{$Header-Bottom-Border});
                        right: 0;
                
                        width: 100%;
                        height: 4px;
                        background-color: $Active-Link-Color;
                        border-radius: 2px;
                        border: none;
                
                    }
            }
        }

            @media screen and (min-width: $desktop) {
                transition-property: color;
                    transition-duration: $Animation-Duration;
                    transition-timing-function: $Timing-Function;
                
                    &:hover,
                    &:focus {
                        color: $Active-Link-Color;
                    }
            }
}

.contacts {
    @extend .default-lists;
    display: flex;
    flex-direction: column-reverse;
    // margin-top: 302px;
    margin-bottom: 64px;

    &__item:not(:first-child) {
            margin-bottom: 32px;
        }
        
        @media screen and (min-width: $tablet) {
            flex-direction: column;
            align-items: stretch;
            width: 100%;
            margin: 0 0 0 84px;
            &__item:not(:first-child) {
                margin: 10px 0 0 0;
                }
        }

            @media screen and (min-width: $desktop) {
                flex-direction: row;
                margin-left: 305px;
                &__item:not(:first-child) {
                        margin-top: 0;
                        margin-left: $Projects-Item-Gap;
                    }
            }
}

%contacts__link {
    @extend .default-links;
    display: block;
    
    font-weight: 500;
    letter-spacing: 0.02em;

    transition-property: color;
        transition-duration: $Animation-Duration;
        transition-timing-function: $Timing-Function;
}

.contacts__link--phone {
    @extend %contacts__link;
    
    font-size: calc(20px + 2vw);
    line-height: 1.18;
    
        
    color: $Active-Link-Color;

        @media screen and (min-width: $mobile) {
            font-size: 34px;
        }

            @media screen and (min-width: $tablet) {
                display: flex;
                align-items: center;
                font-size: 12px;
                line-height: 14px;
                color: $Primary-Text-Color;
            }

                @media screen and (min-width: $desktop) {
                    font-size: 14px;
                    line-height: 16px;
                    padding-top: 32px;
                    padding-bottom: 32px;
                    &:hover, &:focus {
                            color: $Active-Link-Color;
                        }
                }
}

.contacts__link--mail {
    @extend %contacts__link;
    
    font-size: calc(14px + 2vw);
    line-height: 1.17;
    
    color: $Primary-Text-Color;

        @media screen and (min-width: $mobile) {
            font-size: 24px;
        }

        @media screen and (min-width: $tablet) {
                display: flex;
                align-items: center;
                font-size: 12px;
                line-height: 14px;
            }

                @media screen and (min-width: $desktop) {
                    font-size: 14px;
                    line-height: 16px;
                    padding-top: 32px;
                    padding-bottom: 32px;
                    &:hover, &:focus {
                            color: $Active-Link-Color;
                        }
            }
}

%nav__icon {
    fill: $Primary-Text-Color;

    transition-property: fill;
    transition-duration: $Animation-Duration;
    transition-timing-function: $Timing-Function;
}

.nav__icon--mail {
    @extend %nav__icon;
    width: 14px;
    height: 10px;
    margin-right: 8px;
    
    @media screen and (max-width: 767px) {
            display: none;
        }

        @media screen and (min-width: $desktop) {
            width: 16px;
            height: 12px;
            margin-right: 10px;
            
        }
}

.nav__icon--phone {
    @extend %nav__icon;
    width: 10px;
    height: 14px;
    margin-right: 8px;

    @media screen and (max-width: 767px) {
            display: none;
        }

        @media screen and (min-width: $desktop) {
            height: 16px;
            margin-right: 10px;
            &:hover, &:focus {
                    fill: $Active-Link-Color;
                }
        }
}

@media screen and (min-width: $desktop) {

.contacts__link--mail:hover,
.contacts__link--mail:focus {

    .nav__icon--mail {
        fill: $Active-Link-Color;
    }
}

.contacts__link--phone:hover,
.contacts__link--phone:focus {

    .nav__icon--phone {
        fill: $Active-Link-Color;
    }
}
}

.slinkbox-mobile {
    @extend .default-lists;
    @extend .items-in-row;
    
    &__item:not(:last-child) {
        position: relative;
        margin-right: 20px;
        // margin-bottom: 20px;

        &:after {
            content: "";

            position: absolute;
            bottom: 0;
            right: -10px;
            
            width: 1px;
            height: 100%;
            background-color: rgba(33, 33, 33, 0.2);
            border: none;
        }
    }

    &__link {
        @extend .default-links;
        padding: 30px 5px 30px 5px;
        
        font-weight: 500;
        font-size: calc(7px + 1vw);
        line-height: 1.22;
        letter-spacing: 0.02em;
        text-align: center;
    
        color: $Active-Link-Color;

        @media screen and (min-width: 400px) {
            font-size: calc(7px + 2vw);
        }

        @media screen and (min-width: $mobile) {
            font-size: 18px;
        }

    }
        @media screen and (min-width: $tablet) {
            display: none;
    }
}
