.advantages {
    @extend .default-lists;

        @media screen and (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            margin-right: calc(-1 * #{$Projects-Item-Gap});
            margin-bottom: calc(-1 * #{$Projects-Item-Gap});
        }
}

.advantages__subtitle {
    margin-top: 30px;
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: $Default-Text-Color;
}

.advantages__item {
    
    &:not(:last-child) {
        margin-bottom: 30px;
    }

    &::before {
        content: "";
        display: block;
        height: 120px;
    
        background-color: #F5F4FA;
        background-repeat: no-repeat;
        background-position: center;
    }

        @media screen and (min-width: $tablet) {
            width: 354px;
            flex-basis: calc(100%/2 - #{$Projects-Item-Gap});
            margin-right: $Projects-Item-Gap;
            margin-bottom: $Projects-Item-Gap;
        }
            
}


.advantages__icon {
    &--antenna::before {
            background-image: url("../images/antenna.svg");
        }
    &--clock::before {
        background-image: url("../images/clock.svg");
    }

    &--diagram::before {
        background-image: url("../images/diagram.svg");
    }

    &--astronaut::before {
            background-image: url("../images/astronaut.svg");
        }
}
