.services {
    padding-top:0;
}

.application {
    @extend .default-lists;
    display: flex;
    margin-top: $Indent-Title-Gap;
}

.application__item {
    position: relative;

    flex-basis: calc(100%/3);
    margin-left: $Projects-Item-Gap;

    &:first-child {
            margin-left: 0px;
        }
}

.application__description {
    position: absolute;
    bottom: 0;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;

    text-transform: uppercase;
    color: #FFFFFF;

    background-color: rgba(47, 48, 58, 0.8);
}