
.teamsection {
    @extend .section;
    background-color: $Accessory-Background-Color;
}

.team {
    @extend .default-lists;
    
    margin-top: $Indent-Mobile-Title-Gap;

        @media screen and (min-width: $tablet) {
                display: flex;
                flex-wrap: wrap;
                margin-right: calc(-1 * #{$Projects-Item-Gap});
                margin-bottom: calc(-1 * #{$Projects-Item-Gap});
            }

                        @media screen and (min-width: $desktop) {
                            flex-wrap: nowrap;
                            margin: $Indent-Title-Gap 0 0 0;
                        }
}

.team__item {
    
    background-color: $Default-Background-Color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
            margin-bottom: 30px;
        }

                @media screen and (min-width: $tablet) {
                    flex-basis: calc(100%/2 - #{$Projects-Item-Gap});
                    margin-right: $Projects-Item-Gap;
                    margin-bottom: $Projects-Item-Gap;
                }

                    @media screen and (min-width: $desktop) {
                    flex-basis: content;
                    margin: 0;
                        &:not(:last-child) {
                            margin-bottom: 0;
                            margin-right: $Projects-Item-Gap;
                        }
                    }
}

.team__image {
    width: 450px;
    height: auto;

        @media screen and (min-width: $tablet) {
            width: 354px;
        }

            @media screen and (min-width: $desktop) {
                width: 270px;
            }
}

.card {
    padding-top: $Projects-Item-Gap;
    padding-bottom: 24px;

        @media screen and (min-width: $desktop) {
            padding-bottom: $Projects-Item-Gap;
                padding-left: 32px;
                padding-right: 32px;
        }
}

%card-text {
    font-size: 16px;
        line-height: 19px;
        text-align: center;
}

.card__name {
    @extend %card-text;
    font-weight: 500;
    color: $Default-Text-Color;
    margin-bottom: 10px;
}

.card__profession {
    @extend %card-text;
    margin-bottom: 16px;
}

.nets {
    @extend .default-lists;
    @extend .items-in-row;
    justify-content: center;
}

.nets__item {
    margin-right: 10px;

    &:last-child {
            margin-right: 0px;
        }
}

.nets__link {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    
    color: #AFB1B8;

        @media screen and (min-width: $desktop) {
            cursor: pointer;
            transition-property: color, background-color;
                transition-duration: $Animation-Duration;
                transition-timing-function: $Timing-Function;
            
                &:hover,
                &:focus {
                    color: $Contrast-Text-Color;
                    background-color: $Active-Link-Color;
                }
        }

}

.nets__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}