
.teamsection {
    @extend .section;
    background-color: $Accessory-Background-Color;
}

.team {
    @extend .default-lists;
    
    margin-top: $Indent-Mobile-Title-Gap;
}

.team__item {
    
    background-color: $Default-Background-Color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
            margin-bottom: 30px;
        }
}

.team__image {
    width: 450px;
    height: 460px;
}

.card {
    padding-top: $Projects-Item-Gap;
    padding-bottom: 24px;
    // padding-left: 32px;
    // padding-right: 32px;
}

%card-text {
    font-size: 16px;
        line-height: 19px;
        text-align: center;
}

.card__name {
    @extend %card-text;
    font-weight: 500;
    color: $Default-Text-Color;
    margin-bottom: 10px;
}

.card__profession {
    @extend %card-text;
    margin-bottom: 16px;
}

.nets {
    @extend .default-lists;
    @extend .items-in-row;
    justify-content: center;
}

.nets__item {
    margin-right: 10px;

    &:last-child {
            margin-right: 0px;
        }
}

.nets__link {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    
    color: #AFB1B8;

}

.nets__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}