
.teamsection {
    @extend .section;
    background-color: $Accessory-Background-Color;
}

.team {
    @extend .default-lists;
    display: flex;
    margin-top: $Indent-Title-Gap;
}

.team__item {
    flex-basis: calc(100%/4);
    margin-left: $Projects-Item-Gap;

    background-color: $Default-Background-Color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:first-child {
            margin-left: 0;
        }
}

.card {
    padding-top: $Projects-Item-Gap;
    padding-bottom: $Projects-Item-Gap;
    padding-left: 32px;
    padding-right: 32px;
}

%card-text {
    font-size: 16px;
        line-height: 1.19;
        text-align: center;
}

.card__name {
    @extend %card-text;
    font-weight: 500;
    color: $Default-Text-Color;
    margin-bottom: 10px;
}

.card__profession {
    @extend %card-text;
    margin-bottom: 16px;
}

.nets {
    @extend .default-lists;
    @extend .items-in-row;
}

.nets__item {
    margin-right: 10px;

    &:last-child {
            margin-right: 0px;
        }
}

.nets__link {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;

    color: #AFB1B8;

    transition-property: color, background-color;
    transition-duration: $Animation-Duration;
    transition-timing-function: $Timing-Function;

    &:hover, &:focus {
        color: $Contrast-Text-Color;
        background-color: $Active-Link-Color;
    }
   
}

.nets__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}