.clients {
    @extend .default-lists;
    @extend .items-in-row;
    flex-wrap: wrap;
    justify-content: center;
    
    margin-top: 30px;
    
    @media screen and (min-width: $mobile) {
    
    margin-right: calc(-1 * #{$Projects-Item-Gap});
    margin-bottom: calc(-1 * #{$Projects-Item-Gap});
    }

        @media screen and (min-width: $tablet) {
            margin-right: -6px;
        }

        @media screen and (min-width: $desktop) {
            flex-wrap: nowrap;
            margin: $Indent-Title-Gap 0 0 0;
        }
}

.clients__item {
    &:not(:last-child) {
            margin-bottom: $Projects-Item-Gap;
        }
        
            @media screen and (min-width: $mobile) {
                flex-basis: calc(100%/2 - #{$Projects-Item-Gap}-4px);
                margin-right: $Projects-Item-Gap;
            }
        
            @media screen and (min-width: $tablet) {
                flex-basis: calc(100%/3 - #{$Projects-Item-Gap}-6px);
                
            }

            @media screen and (min-width: $desktop) {
                flex-basis: content;
                margin: 0;
                
                    &:not(:last-child) {
                        margin-bottom: 0;
                        margin-right: $Projects-Item-Gap;
                    }
                }
}

.clients__logo {
    width: 210px;
    height: 92px;
    color: #AFB1B8;
    fill: currentColor;
    border: 1px solid currentColor;
    border-radius: 4px;

    transition-property: color fill;
            transition-duration: $Animation-Duration;
            transition-timing-function: $Timing-Function;

            @media screen and (min-width: $tablet) {
                max-width: 226px;
            }

            @media screen and (min-width: $desktop) {
                max-width: 170px;
            }
}

.clients__link {
    padding: 100px 52px 0 52px;

    @media screen and (min-width: $mobile) {
        padding: 0;
    }
    &:hover,
    &:focus {
        .clients__logo {
            color: $Active-Link-Color;
                fill: $Active-Link-Color;
        }
    }
}