.clients {
    @extend .default-lists; 
    @extend .items-in-row;
    flex-wrap: wrap;
   
    margin-top: 30px;
    margin-left: calc(-1 * #{$Projects-Item-Gap});
    margin-bottom: calc(-1 * #{$Projects-Item-Gap});
}

.clients__item {
    flex-basis: calc(100%/2 - #{$Projects-Item-Gap});
    margin-left: $Projects-Item-Gap;
    margin-bottom: $Projects-Item-Gap;
}

.clients__link {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    width: 210px;
    height: 92px;

    color: #AFB1B8;

    border: 1px solid currentColor;
    border-radius: 4px;
    
    transition-property: color;
    transition-duration: $Animation-Duration;
    transition-timing-function: $Timing-Function;

    &:hover, &:focus {
            color: $Active-Link-Color;
        }
}

.clients__logo {
    width: 106px;
    height: 60px;
    fill: currentColor;
}