.clients {
    @extend .default-lists;
    @extend .items-in-row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    
            // margin-right: calc(-1 * #{$Projects-Item-Gap});
            // margin-bottom: calc(-1 * #{$Projects-Item-Gap});
            

        @media screen and (min-width: $desktop) {
            flex-wrap: nowrap;
            margin: $Indent-Title-Gap 0 0 0;
        }
}

.clients__item {
    margin-bottom: $Projects-Item-Gap;
    &:nth-child(2n) {margin-right: 0;}
    &:nth-last-child(-n+2) {margin-bottom: 0;}

    flex-basis: calc(100%/2 - #{$Projects-Item-Gap});
            margin-right: $Projects-Item-Gap;
            margin-bottom: $Projects-Item-Gap;
        
        @media screen and (min-width: $tablet) {
            flex-basis: calc(100%/3 - #{$Projects-Item-Gap});
        }

            @media screen and (min-width: $desktop) {
                flex-basis: content;
                margin: 0;
                
                    &:not(:last-child) {
                        margin-bottom: 0;
                        margin-right: $Projects-Item-Gap;
                    }
                }
}


.clients__link {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    max-width: 210px;
    max-height: 92px;

    color: #AFB1B8;

    border: 1px solid currentColor;
    border-radius: 4px;
    
    transition-property: color;
    transition-duration: $Animation-Duration;
    transition-timing-function: $Timing-Function;

    &:hover, &:focus {
            color: $Active-Link-Color;
        }

        @media screen and (min-width: $tablet) {
            width: 226px;
        }

            @media screen and (min-width: $desktop) {
                width: 170px;
            }
}

.clients__logo {
    max-width: 106px;
    max-height: 60px;
    fill: currentColor;
}