.button-list {
    @extend .default-lists;
    @extend .items-in-row;
    flex-wrap: wrap;
    margin-bottom: 25px;
    
    &__item:not(:last-child) {
            margin-right: 8px;
            margin-bottom: 15px;
        }

        @media screen and (min-width: $tablet) {
            justify-content: center;
        }

            @media screen and (min-width: $desktop) {
                margin-bottom: 50px;
                &__item:not(:last-child) {
                        margin-bottom: 0;
                    }
            }
}

.filter-button {
    padding: 6px 22px 6px 22px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: $Default-Text-Color;
    background-color: $Accessory-Background-Color;
    cursor: pointer;
    border: none;
    border-radius: 4px;

    transition-property: color, background-color, box-shadow;
    transition-duration: $Animation-Duration;
    transition-timing-function: $Timing-Function;

    &:hover, &:focus {
            color: $Contrast-Text-Color;
            background-color: $Active-Link-Color;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}

/* Стилизация секции "Наши проекты" */
.projects {
    @extend .default-lists;
    
        @media screen and (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            margin-right: calc(-1 * #{$Projects-Item-Gap});
        }
}

.projects__item:not(:last-child) {
    margin-bottom: $Projects-Item-Gap;

        @media screen and (min-width: $tablet) {
            flex-basis: calc(100%/2 - #{$Projects-Item-Gap});
                margin-right: $Projects-Item-Gap;
        }

            @media screen and (min-width: $desktop) {
                flex-basis: calc(100%/3 - #{$Projects-Item-Gap});
            }
}

.projects__item {
    @media screen and (min-width: $desktop) {
        &:nth-child(n+7) {
            margin-bottom: 0;
        }

        &:nth-child(3n+3) {
            margin-right: 0;
        }
    }
}

.link-active {
    @extend .default-links;
    display: block;

    transition-property: box-shadow;
    transition-duration: $Animation-Duration;
    transition-timing-function: $Timing-Function;

    &:hover, &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}



.project {
    position: relative;
    overflow: hidden;
}

.project__image {
    width: 450px;
    height: auto;
        
        @media screen and (min-width: $tablet) {
            width: 354px;
        }

            @media screen and (min-width: $desktop) {
                width: 370px;
            }
}

.project__image--mobile {
    width: 450px;
    height: 294px;

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.project__image--tablet {
    width: 354px;
    height: 294px;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: $desktop) {
        display: none;
    }

}

.project__image--desktop {
    @media screen and (max-width:1199px) {
        display: none;
    }

    @media screen and (min-width: $desktop) {
        width: 370px;
        height: 294px;
    }

}

.project__slider {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 77px 24px 77px 24px;

    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;

    color: $Contrast-Text-Color;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);

    transition-property: transform;
    transition-duration: $Animation-Duration;
    transition-timing-function: $Timing-Function;

        @media screen and (min-width: $tablet) {
            padding-top: 49px;
        }

            @media screen and (min-width: $desktop) {
                padding-top: 63px;
                padding-bottom: 63px;
            }
}

.link-active:hover .project__slider,
.link-active:focus .project__slider {
    transform: translateY(0%);
}

.projects__card-content {
    
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}


.project__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: $Default-Text-Color;
}

.project__title--crutch {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        display: none;
        
    }
}

.project__brief {
    margin-top: 4px;

    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: $Primary-Text-Color;

        &--crutch {
            @extend .project__brief;
            @media screen and (min-width: $tablet) and (max-width: 1199px) {
                color: $Contrast-Text-Color;
            }
            
        }
}

