.button-list {
    @extend .default-lists;
    @extend .items-in-row;
    margin-bottom: 50px;
    justify-content: center;

    &__item:not(:last-child) {
            margin-right: 8px;
        }
}

.filter-button {
    padding: 6px 22px 6px 22px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: $Default-Text-Color;
    background-color: $Accessory-Background-Color;
    cursor: pointer;

    border: none;
    border-radius: 4px;

    transition-property: color, background-color, box-shadow;
    transition-duration: $Animation-Duration;
    transition-timing-function: $Timing-Function;

    &:hover, &:focus {
            color: $Contrast-Text-Color;
            background-color: $Active-Link-Color;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}

/* Стилизация секции "Наши проекты" */
.projects {
    @extend .default-lists;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * #{$Projects-Item-Gap});
    /*- 6px если рамка у всей карточки*/
    margin-top: calc(-1 * #{$Projects-Item-Gap});
}

.projects__item {
    flex-basis: calc(100%/3 - #{$Projects-Item-Gap});
    /*+ 6px если рамка у всей карточки*/
    margin-left: $Projects-Item-Gap;
    /*- 6px если рамка у всей карточки*/
    margin-top: $Projects-Item-Gap;
}

.link-active {
    @extend .default-links;
    display: block;

    transition-property: box-shadow;
    transition-duration: $Animation-Duration;
    transition-timing-function: $Timing-Function;

    &:hover, &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}



.project {
    position: relative;
    overflow: hidden;
}

.project__slider {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 63px 24px 63px 24px;

    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;

    color: $Contrast-Text-Color;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);

    transition-property: transform;
    transition-duration: $Animation-Duration;
    transition-timing-function: $Timing-Function;
}

.link-active:hover .project__slider,
.link-active:focus .project__slider {
    transform: translateY(0%);
}

.projects__card-content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.project__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $Default-Text-Color;
}

.project__brief {
    margin-top: 4px;

    font-size: 16px;
    line-height: 1.88;
    color: $Primary-Text-Color;
}

