/* border box*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
/* ------- */

/* сбрасываю margins */
span,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
/* ------- */

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* центрирование контента */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid red;

    @media screen and (min-width: $mobile) {
        width: $mobile;
    }
    
    @media screen and (min-width: $tablet) {
    width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop;
    }
}
// /* ------- */

.section {
    padding-top: $Default-Mobile-Padding-Gap;
    padding-bottom: $Default-Mobile-Padding-Gap;

    @media screen and (min-width: $desktop) {
        padding-top: $Default-Padding-Gap;
        padding-bottom: $Default-Padding-Gap;
    }
}

/* убираем маркеры в списках*/
.default-lists {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
/* ------- */

/* убираем подчеркивание в ссылках */
.default-links {
    color: $Default-Text-Color;
    text-decoration: none;
}
/* ------- */   

/* утилита для построения в ряд */
.items-in-row {
    display: flex;
}
/* ------- */

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $Primary-Text-Color;
    background-color: $Default-Background-Color;
}

.section__title {
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $Default-Text-Color;

        @media screen and (min-width: $desktop) {
            font-weight: 700;
            font-size: 28px;
            line-height: 42px;
        }
}