$Primary-Text-Color: rgba(117, 117, 117, 1);
$Default-Text-Color:rgba(33, 33, 33, 1);
$Active-Link-Color: rgba(33, 150, 243, 1);
$Contrast-Text-Color:rgba(255, 255, 255, 1);
$Logo-Start-Color:rgba(33, 150, 243, 1);
$Logo-End-Color:rgba(0, 0, 0, 1);
$Footer-Contacts-Text-Color:rgba(255, 255, 255, 0.6);
$Primary-Background-Color: rgba(47, 48, 58, 1);
$Default-Background-Color: rgba(255, 255, 255, 1);
$Accessory-Background-Color:rgba(245, 244, 250, 1);
$Indent-Title-Gap: 50px;
$Projects-Item-Gap: 30px;
$Form-Field-Standart-Gap: 10px;
$Default-Padding-Gap: 94px;
$Header-Bottom-Border: 1px;
$Animation-Duration: 250ms;
$Timing-Function: cubic-bezier(0.4, 0, 0.2, 1);